:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desatured-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--dark-cyan);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh ;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 326px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);

  &-header {
    width: 100%;
    display: block;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.7px solid rgba(153, 153, 153, 0.612);

    &-img {
      border: 4px solid white;
      border-radius: 50%;
      margin-top: calc(-48px - 4px);
      background-color: white;
    }

    &-name {
      margin-top: 2rem;
      font-size: 1.8rem;

      span {
        color: var(--dark-gray);
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }

    &-city {
      color: var(--dark-gray);
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  &-footer {
    display: flex;
    justify-content:space-around;

    &-social {
      text-align: center;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
      }

      p {
        letter-spacing: 1.5px;
      }
    }
  }
}